.bottom-menu-wrapper {
    animation: cubic-bezier(.17,.88,.59,.96) menu-enter 1s;
}

@keyframes menu-enter {
    0% {
        transform: translate(-50%, 150%);
    }
}

.closed-menu {
    overflow: hidden;
    height: 0px;
    opacity: 0;
}

.opened-menu {
    overflow: hidden;
    height: 200px;
    opacity: 1;
}