.profile-image {
  display: block;
  width: inherit;
}

.home-list-svg {
  width: 20px;
  margin-right: 20px;
}

.quote-svg {
  width: 20px;
}

.stack-list svg {
  width: 40px;
  margin: 5px;
}

.link-list svg {
  width: 30px;
}

.bottom {
  transform: rotate(45deg) scale(1.4);
}

.top {
  transform: scale(1.4);
}

.title-transition {
  animation: title-enter 1s cubic-bezier(0.17, 0.88, 0.59, 0.96);
}

@keyframes title-enter {
  0% {
    opacity: 0.2;
    transform: translateX(100%);
  }
}

.subtitle-transition {
  animation: subtitle-enter 1s cubic-bezier(0.17, 0.88, 0.59, 0.96);
}

@keyframes subtitle-enter {
  0% {
    opacity: 0.2;
    transform: translateX(-150%);
  }
}

@media screen and (max-width: 1200px) {
  .hidden-sm {
    display: none;
  }
}
