$color-1: black;
$color-2: var(--grey);

// PAGE D'ACCUEIL

.histoire-layer {
  width: 70%;
  margin: 50px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.histoire_title {
  margin: auto;
  text-align: center;
  margin: 50px auto;
  font-size: 3rem;
}

.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
  
  &:before {
    background-color: $color-1;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }
  list-style-type: none;

  .short {
    margin-top: 1em;
  }
}

.timeline-event:hover {
  .timeline-event-icon {
    transform: rotate(90deg);
  }
}

.timeline-event-copy {
  transition: ease-in-out 0.30s;
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
  
  h3 {
    font-size: 1.75em;
  }
  
  h4 {
    font-size: 1.2em;
    margin-top: 5px;
    color: var(--grey-2);
  }
  
  strong {
    font-weight: 700;
  }
  
  p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
  }
}

.timeline-event-icon {
  transition: ease-in-out 0.30s;
  border-radius: 2px;
  background-color: $color-1;
  // outline: 0.5em solid $color-2;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: relative;
  top: 2em;
  left: 2em;
  width: 1em;
  height: 1em;
  transform: rotate(45deg);

  // &::before {
  //   background-color: $color-2;
  //   content: '';
  //   display: block;
  //   width: 0.5em;
  //   height: 0.5em;
  //   transform: translate(50%, 50%);
  // }
  // LIGHT CENTER
}

.timeline-event-thumbnail {
  color: $color-2;
  font-size: 1em;
  border-radius: 4px;
  // font-weight: 200;
  background-color: $color-1;
  padding: 0.5em 1em 0.5em 1em;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 2em;
}

.timeline-event-thumbnail:hover {
  background-color: var(--second-color);
  transition: ease-in-out 0.30s;

  .event-link {
    color: $color-1 !important;
  }
}


.event-link {
  color: $color-2;
  text-decoration: none;
  transition: ease-in-out 0.25s;
}

// COURS

.histoire-art-cours {
  ol {
    list-style-type: upper-roman;
  }
  ul {
    list-style-type:circle;
  }
  li {
    padding: 5px 10px;
    list-style-position: inside;
  }
  h2 {
    margin-top: 50px;
    text-align: center;
  }

  .historique {
    font-style: italic;
  }
  height: fit-content;
}

.cours-focus {
  position: fixed;
  top: 0px;
  right: 0;
  width: 18vw;
  height: 100%;
  border-left: 1px solid white;
  border-radius: 0;
  padding-top: 50px;
}

.cours-focus-content {
  position: sticky;
  top: 0px;
  padding: 20px;
  transition: 0.3s ease-in-out;
  img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.115), -5px -5px 10px rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.436);
    margin-bottom: 10px;
  }
  h3 {
    margin: 10px auto;
  }
  h4 {
    margin: 10px auto;
  }
  i {
    font-weight: 200;
  }
}

.histoire-art-cours-title {
  text-align: center;
  margin: 50px auto;
  font-size: 3em;
  height: 100px;
}

.cours-content {
  width: 50vw;
  margin: 50px auto;
}

.partie-cours {
  margin-top: 100px;
}

.image-centre {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.115), -5px -5px 10px rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.436);
}

.small-img {
  width: 20vw;
  margin-top: 40px;
  margin-bottom: 20px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.115), -5px -5px 10px rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.436);
}

.big-img {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  padding: 30px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  img {
    display: block;
    height: calc(100% - 60px);
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.325);
  }

  .close {
    position: absolute;
    font-size: 40px;
    font-weight: 50;
    color: White;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    padding: auto;
    cursor: pointer;
    right: 130px;
  }
}

.h3-cours {
  margin: 20px 0 5px 0;
  color: rgb(44, 44, 44);
}

.detail {
  border-left: 2px solid var(--second-color);
  border-radius: 0;
  padding-left: 5px;
}

//Renaissance Italienne
.titus-thermes {
  margin: 50px auto;
}