.anime-name {
    animation: 1s cubic-bezier(.4,.68,.4,.68) goUp;
}

.anime-fr {
    animation: 1s cubic-bezier(.4,.68,.4,.68) goLeft;
}

@keyframes goUp {
    0% {
        transform: translateX(100%);
    }
}

@keyframes goLeft {
    0% {
        transform: translateX(100%);
    }
}

.theme-toggler {
    animation: cubic-bezier(.17,.88,.59,.96) theme-toggler-enter 1s;
}

@keyframes theme-toggler-enter {
    0% {
        transform: translateY(-200%);
    }
}