:root {
  --grey: #EAEAEC;
  --grey-2: #7d7d7d;
  --second-color: #ED311D;
  --text: #25252D;
  --background: #fbfaf8;

  --text-size: 1.2rem;
  --title-size: 2.5rem;
}

font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/next.otf") format("truetype");
}


* {
    font-family: "Avenir Next";
    border-radius: 3px;
    margin: 0;
    padding: 0;
}

html {
  background-color: var(--background);
}

p, li, a, span, i, b {
  font-size: var(--text-size);
}

h1 {
  font-size: var(--title-size);
  span, i, b {
    font-size: var(--title-size);
  }
}

h2 {
  font-size: var(--text-size);
  font-weight: 600;
}

h3, h4 {
  font-size: var(--text-size);
  font-weight: 400;
  opacity: 50%;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  transition: 0.2s ease-in-out;
}

h4 {
  color: var(--grey-2);
}

.arrowed-link {
  svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    padding: 0;
    fill: var(--text);
    transition: ease-in-out 0.2s;
  }
}

.arrowed-link:hover {
  svg {
    fill: var(--second-color);
  }
}

.main-page {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.title {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 11rem;
  color: var(--text);
  // text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.34);
  top: 50%;
  transform: translateY(-50%);
}

.secondary-in-title {
  color: var(--second-color);
  font-size: inherit;
}

.menu-layer {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  align-content: center;
  padding: 40px;

  ul {
    text-align: center;
    li {
      display: inline;
      margin: 0 20px;
      font-weight: 200;
      justify-content: centrer;
      font-size: 1.1em;
    }
  }
}

.photo {
  background-image: url("./assets/images/paper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  opacity: 50%;
}

.photo-rest {
  background-image: url("./assets/images/paper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;

  opacity: 50%;
  z-index: -1;
}

.tooltip {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: var(--second-color);
  font-weight: 900;
}

.tooltip-img {
  width: 100%;
  cursor: pointer;
}

.img-subtitle {
  font-size: var(--text-size);
}

.center-text {
  text-align: center;
}

.limiter {
  svg {
    width: 100%;
    padding: 0;
    height: 50px;
    margin: 20px auto;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  margin-top: 0px;
  z-index: 2;
  background-color: var(--background);
  overflow: hidden;

  .more-nav {
    transition: ease-in-out 0.2s;
    height: 0px;
    padding: 0px 60px;
    border-bottom: 0px solid var(--text);
    opacity: 0;

    ul {
      list-style-type: none;
    }
  }

  .more-nav-open {
    padding: 20px 60px;
    height: fit-content !important;
    border-bottom: 1px solid var(--text);
    opacity: 100%;
  }
}

.navbar {
  border-bottom: 1px solid var(--text);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 0;

  .menu-right {
    transform: translateX(-10px);
  }

  li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    cursor: pointer;
  }
}

.page_layer, .histoire-art-cours, .accueil {
  animation: 0.2s ease-in-out appear;

}

@keyframes appear {
  from {
    opacity: 0;
  }
}

