:root {
  --grey: #EAEAEC;
  --grey-2: #7d7d7d;
  --second-color: #F3CA40;
}

font-face {
  font-family: "Bolin Gerii";
  src: url("./assets/fonts/Bolin_Gerii.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

font-face {
  font-family: "Noe";
  src: url("./assets/fonts/noe.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}

html {
  background-color: white;
}

h1, h2 {
  // text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.115), -5px -5px 10px rgb(255, 255, 255);
  font-family: Noe;
  i {
  font-family: Noe;
  }
}

h4 {
  color: var(--grey-2);
}

.main-page {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 2;

  background: rgba(255, 255, 255, 0.04);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.24);

  h2 {
    position: relative;
    top: 45%;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: none;
    font-weight: 600;
    font-family: Bolin Gerii;
    letter-spacing: 0.1em;
  }
}

.title {
  font-family: Bolin Gerii;
  position: relative;
  top: 30%;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 10rem;
  color: white;
  text-shadow: none;
}

.menu-layer {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  align-content: center;
  padding: 40px;

  ul {
    text-align: center;
    li {
      display: inline;
      margin: 0 20px;
      font-weight: 200;
      justify-content: centrer;
      font-size: 1.1em;
    }
  }

  a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to left, white, white);
    background-size: 0% 1px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 0;
  }

  a:hover {
    background-size: 100% 1px;
  }
}

.photo {
  background-image: url("./assets/images/commode-boulle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.tooltip {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: var(--second-color);
  font-weight: 900;
}

.tooltip-img {
  width: 100%;
  cursor: pointer;
}

.img-subtitle {
  font-weight: 200;
}

.center-text {
  text-align: center;
}

.limiter {
  svg {
    width: 100%;
    padding: 0;
    height: 50px;
    margin: 20px auto;
  }
}

.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  border-radius: 0;
  margin-top: 30px;
  padding: 20px;
  color: white;

  a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: 200;
    width: 100%;
    display: block;
  }

  a:hover {
    transition: 0.2s ease-in-out;
    color:rgba(0, 0, 0, 0.115);
  }

  li {
    padding: 10px;
    width: 100%;
    list-style-type: none;
  }
}